



#allPage {
    background: rgb(241, 230, 242);
    padding: 0;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;


    .mainDiv {
        text-align: center;
        align-items: center;
        margin:  5% auto ;
        border:2px solid black;
        border-radius: 15px;
        width: 70%;
        box-shadow: 5px 10px 5px rgb(212, 212, 212);
        background-color: rgb(247, 246, 248);
        padding: 20px;
        
        .character {
            .nameBlock {
                font-family: 'Roboto', sans-serif;
            }
            .shortDescriptionBlock {
                font-family:'Titillium Web', sans-serif; 
            }
            .longDescriptionBlock {
                font-family:'Titillium Web', sans-serif;
            }
        
        }


    }
    

}
