:root {
  --stepPhp: 5%;
  --patternPhp: url(../img/RareEffect/rareEffectOnePiece.png) center / 75%;

  --rainbowPhp: repeating-linear-gradient(
                  0deg,
                  rgb(255, 119, 115) calc(var(--stepPhp) * 1),
                  rgba(255, 237, 95, 1) calc(var(--stepPhp) * 2),
                  rgba(168, 255, 95, 1) calc(var(--stepPhp) * 3),
                  rgba(131, 255, 247, 1) calc(var(--stepPhp) * 4),
                  rgba(120, 148, 255, 1) calc(var(--stepPhp) * 5),
                  rgb(216, 117, 255) calc(var(--stepPhp) * 6),
                  rgb(255, 119, 115) calc(var(--stepPhp) * 7)
  ) 0% var(--bgPhp-y) / 200% 700%;
  --diagonalPhp: repeating-linear-gradient(
                  128deg,
                  #0e152e 0%,
                  hsl(180, 10%, 60%) 3.8%,
                  hsl(180, 10%, 60%) 4.5%,
                  hsl(180, 10%, 60%) 5.2%,
                  #0e152e 10%,
                  #0e152e 12%
  ) var(--bgPhp-x) var(--bgPhp-y) / 300%;
  --shadePhp: radial-gradient(
                  farthest-corner circle at var(--xPhp) var(--yPhp),
                  rgba(255, 255, 255, 0.1) 12%,
                  rgba(255, 255, 255, 0.15) 20%,
                  rgba(255, 255, 255, 0.25) 120%
  ) var(--bgPhp-x) var(--bgPhp-y) / 300%;



  --stepShib: 5%;
  --patternShib: url(../img/RareEffect/rareEffect2.jpg) center / 75%;

  --rainbowShib: repeating-linear-gradient(
                  0deg,
                  rgb(255, 119, 115) calc(var(--stepShib) * 1),
                  rgba(255, 237, 95, 1) calc(var(--stepShib) * 2),
                  rgba(168, 255, 95, 1) calc(var(--stepShib) * 3),
                  rgba(131, 255, 247, 1) calc(var(--stepShib) * 4),
                  rgba(120, 148, 255, 1) calc(var(--stepShib) * 5),
                  rgb(216, 117, 255) calc(var(--stepShib) * 6),
                  rgb(255, 119, 115) calc(var(--stepShib) * 7)
  ) 0% var(--bgShib-y) / 200% 700%;
  --diagonalShib: repeating-linear-gradient(
                  128deg,
                  #0e152e 0%,
                  hsl(180, 10%, 60%) 3.8%,
                  hsl(180, 10%, 60%) 4.5%,
                  hsl(180, 10%, 60%) 5.2%,
                  #0e152e 10%,
                  #0e152e 12%
  ) var(--bgShib-x) var(--bgShib-y) / 300%;
  --shadeShib: radial-gradient(
                  farthest-corner circle at var(--xShib) var(--yShib),
                  rgba(255, 255, 255, 0.1) 12%,
                  rgba(255, 255, 255, 0.15) 20%,
                  rgba(255, 255, 255, 0.25) 120%
  ) var(--bgShib-x) var(--bgShib-y) / 300%;



}


.cardPhp {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  position: relative;
}
.cardPhp__wrapper {
  perspective: 600px;
  position: absolute;
  inset: 0;
}
.cardPhp__3d {
  transform: rotateY(var(--rPhp-x)) rotateX(var(--rPhp-y));
  position: absolute;
  inset: 0;
  clip-path: inset(0 0 0 0 round 48px);
}
.cardPhp__image {
  clip-path: inset(0 0 0 0 round 48px);
}
.cardPhp__image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* soft light */
.cardPhp__layer1 {
  position: absolute;
  inset: 0;
  z-index: 20;
  mix-blend-mode: soft-light;
  clip-path: inset(0 0 1px 0 round 48px);

  background: radial-gradient(
                  farthest-corner circle at var(--xPhp) var(--yPhp),
                  rgba(255, 255, 255, 0.8) 10%,
                  rgba(255, 255, 255, 0.65) 20%,
                  rgba(255, 255, 255, 0) 90%
  );
}
/* first crazy blend  */
.cardPhp__layer2 {
  position: absolute;
  inset: 0;
  z-index: 30;

  mix-blend-mode: color-dodge;
  will-change: background;
  transition-property: opacity;
  clip-path: inset(0 0 1px 0 round 48px);

  background-blend-mode: hue, hue, soft-light, overlay;
  background: var(--patternPhp), var(--rainbowPhp), var(--diagonalPhp);
}
/* second crazy blend  */
.cardPhp__layer2:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--patternPhp), var(--rainbowPhp), var(--diagonalPhp), var(--shadePhp);
  mix-blend-mode: exclusion;
  background-size: 75%, 200% 400%, 800%, 200%;
  background-position: center, 0% var(--bgPhp-y),
  calc(var(--bgPhp-x) * -1) calc(var(--bgPhp-y) * -1), var(--bgPhp-x) var(--bgPhp-y);
  background-blend-mode: soft-light, hue, hard-light;
}



/************* Shib ************************************/

.cardShib {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  position: relative;
}
.cardShib__wrapper {
  perspective: 600px;
  position: absolute;
  inset: 0;
}
.cardShib__3d {
  transform: rotateY(var(--rShib-x)) rotateX(var(--rShib-y));
  position: absolute;
  inset: 0;
  clip-path: inset(0 0 0 0 round 48px);
}
.cardShib__image {
  clip-path: inset(0 0 0 0 round 48px);
}
.cardShib__image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* soft light */
.cardShib__layer1 {
  position: absolute;
  inset: 0;
  z-index: 20;
  mix-blend-mode: soft-light;
  clip-path: inset(0 0 1px 0 round 48px);

  background: radial-gradient(
                  farthest-corner circle at var(--xShib) var(--yShib),
                  rgba(255, 255, 255, 0.8) 10%,
                  rgba(255, 255, 255, 0.65) 20%,
                  rgba(255, 255, 255, 0) 90%
  );
}
/* first crazy blend  */
.cardShib__layer2 {
  position: absolute;
  inset: 0;
  z-index: 30;

  mix-blend-mode: color-dodge;
  will-change: background;
  transition-property: opacity;
  clip-path: inset(0 0 1px 0 round 48px);

  background-blend-mode: hue, hue, soft-light, overlay;
  background: var(--patternShib), var(--rainbowShib), var(--diagonalShib);
}
/* second crazy blend  */
.cardShib__layer2:after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--patternShib), var(--rainbowShib), var(--diagonalShib), var(--shadeShib);
  mix-blend-mode: exclusion;
  background-size: 75%, 200% 400%, 800%, 200%;
  background-position: center, 0% var(--bgShib-y),
  calc(var(--bgShib-x) * -1) calc(var(--bgShib-y) * -1), var(--bgShib-x) var(--bgShib-y);
  background-blend-mode: soft-light, hue, hard-light;
}


